<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="头条测试用例集">
    <test name="头条搜索" parallel="classes" thread-count="1">
        <classes>
            <class name="com.papayam.demo.DemoRunner"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.github.papayam.core.TestngListener"/>
        <listener class-name="com.github.papayam.core.RetryListener"/>
    </listeners>
</suite>
